<ion-view title="Event">

    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

	<ion-content>
		<ion-list ng-controller="EventCtrl">
			<ion-item class="item-thumbnail-left" ng-repeat="event in events">
				<img ng-src="{{event.EvenementPhoto_id}}">
				<h2>{{event.TitreEvenement}}</h2>
				<p>
					{{event.DateEvenement}}<br>
					{{event.LieuEvenement_id}}<br>
					{{event.Categorie_id}}<br>
					{{event.Prix + " €"}}<br>
					{{event.MaximumParticipant}}
				</p>
			</ion-item>
		</ion-list>
	</ion-content>

</ion-view>
