<ion-view title="Profile">

    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-tabs class="tabs-positive tabs-icon-only tabs-top">
        <ion-tab title="Friends">
            <ion-content>
                <p>test1</p>
            </ion-content>
        </ion-tab>
        <ion-tab title="Events">
            <ion-content>
                <p>test2</p>
            </ion-content>
        </ion-tab>
        <ion-tab title="My Profile">
            <ion-content>
                <p>test3</p>
            </ion-content>
        </ion-tab>
    </ion-tabs>

</ion-view>
