<ion-view>

	<ion-content>
		<div ng-hide="showDetails">Chargement...</div>
		<div ng-show="showDetails">
			<div align=center class="padding-top padding-left padding-right">
				<h4>{{event.TitreEvenement}}</h4>
			</div>
			<div class="card">
			  <div class="item item-text-wrap">
				<img ng-src="{{event.ImageUrl}}" class="positive-bg eventPicture">
				<p>
					{{event.DateEvenement}}<br>
					{{event.Adresse.Ville}}<br>
					{{event.Categorie_Libelle}}<br>
					{{event.Prix + " €"}}<br>
				</p>
				<p class="clear"></p>
				<p class="padding-top">
					<button class="button button-small button-positive" ng-click="goToProfilOrganizer(event.Organisateur_id)">
						Organizer
					</button>
					<button class="button button-small" ng-click="subscribeToEvent()">
						Subscribe
					</button>
					<button class="button button-small" ng-click="shareEvent">
						Share
					</button>
				</p>
			  </div>
			</div>
			<div class="padding-left padding-right">
				<p>
					Description : 
				</p>
				<p>
					{{event.DescriptionEvenement}}
				</p>
			</div>
		</div>

	</ion-content>
</ion-view>
