<ion-view title="{{currentProfile}}">
    <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-light" animation="slide-left-right">
        <ion-tab title="Friends" ui-sref="app.profile.logged.friends">
            <ion-content>
                <ion-nav-view name="friendsContent"></ion-nav-view>
            </ion-content>
        </ion-tab>
        <ion-tab title="Events" ui-sref="app.profile.logged.events">
            <ion-content>
                <ion-nav-view name="eventsContent"></ion-nav-view>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>
