<ion-view title="Authenticate">
	<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-light" animation="slide-left-right">
		<ion-tab title="Login" ui-sref="app.profile.notLogged.login">
			<ion-content>
				<ion-nav-view name="loginContent"></ion-nav-view>
			</ion-content>
		</ion-tab>
		<ion-tab title="Sign Up" ui-sref="app.profile.notLogged.signup">
			<ion-content>
				<ion-nav-view name="signupContent"></ion-nav-view>
			</ion-content>
		</ion-tab>
	</ion-tabs>
</ion-view>
